#wrapper{
	width:1000px;
	margin:0 auto;
	background-color: white;
}

#header{
	height:60px;
	text-align: center;
  background-color: red;
  color: white;
  margin-top: 20px;
  padding: 3px;
  font-size: 12px;
  }

#leftside{
	text-align: left;
	height:360px;
	background-color: green;
  color: white;
  font-size: 9px;
  padding: 10px;
	}

#footer{
	text-align: left;
	height:60px;
	background-color: blue;
  color: white;
  margin-bottom: 50px;
  font-size: 9px;
  padding: 10px;
  }
